body {
    background-image: linear-gradient(45deg, rgb(250, 234, 161), rgb(127, 127, 238));
    background-repeat: no-repeat;
    height: 100vh;
    overflow: auto;
    text-align: center;
    font-family: monospace;
    font-weight: 600;
}

h1 {
    font-size: 2.3rem;
}

table {
    border-collapse: collapse;
    border: 3px solid black;
    margin: 2% 1%;
    width: 98%;
    background-color: rgb(240, 213, 138);
    font-size: 20px;
}

thead {
    background-color: rgb(99, 98, 98);
    color: aliceblue;
    font-weight: bold;
    font-size: 1.4rem;
}

tbody tr {
    text-align: center;
    background-color: rgb(255, 255, 255);
}

th,
td {
    padding: 15px 0px;
}

tbody tr:hover {
    background-color: rgb(237, 237, 237);
    cursor: default;
}

td select,
select option {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
    background-color: grey;
    padding: 4px;
    border: 2px solid black;
    cursor: pointer;
}

td select option[value="progress"] {
    background-color: rgb(250, 56, 56);
}

td select option[value="delivered"] {
    background-color: green;
}