body {
    overflow-x: hidden;
}

.sunnah {
    color: white;
    margin-right: 40%;
    animation: move 4s infinite;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Comfortaa', cursive;
    font-family: 'Rampart One';
    font-size: 50px;
}

.hr {
    border: 2px solid black;
}

.topic {
    background-color: grey;
    color: aqua;
    text-align: right;
    padding: 0.5%;
    width: 100%;
    height: 19%;
}

marquee {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    z-index: 100;
    font-size: 23px;
    color: white;
    background-color: grey;
    margin-bottom: 5px;
    padding: .5%;
    border-bottom: 3px solid black;
}

.div1 {
    width: 30%;
    height: 95%;
    left: .5%;
    border-radius: 20px;
    box-shadow: 5px -5px 20px black;
    position: absolute;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    border: 2px outset grey;
    font-weight: 700;
    overflow: hidden scroll;
}

.div1 img {
    border-radius: 10px;
}

.div1 img:hover {
    filter: brightness(70%);
    transition: all .4s;
}

.div1 p {
    padding: 0% 1%;
    width: 100%;
    height: 10%;
}

.navbar {
    position: absolute;
    padding-left: 1%;
    left: -26vw;
    width: 25vw;
    height: 100vh;
    background-color: grey;
    transition: all .5s;
    z-index: 1000;
}

.navhead {
    display: flex;
    text-align: center;
    padding-left: 25%;
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 25px;
    border-bottom: 1px solid white;
}

.navhead a {
    text-decoration: none;
}

.nav-open {
    left: 0;
    z-index: 1000;
    box-shadow: 10px 0px 20px black;
    border-top-right-radius: 20px;
}

.div2 {
    width: 37%;
    height: 95vh;
    box-shadow: 0px 0px 20px grey;
    left: 31%;
    position: absolute;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    border: 3px outset grey;
    border-radius: 15px;
    overflow-y: auto;
}

.div3 {
    width: 30%;
    height: 95%;
    overflow-y: auto;
    position: absolute;
    right: 1%;
    z-index: 5;
    text-align: justify;
    background: white;
    box-shadow: -5px -5px 20px black;
    border: 2px inset grey;
    border-radius: 15px;
    font-size: 20px;
}

a:link {
    color: black;
    padding: 7px;
}

a:visited {
    color: black;
}

a:hover:not(.navbar a) {
    background: black;
    color: aqua;
    border-radius: 10px;
    transition: all .5s;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.icon {
    position: absolute;
    left: 2%;
    top: 2%;
    transition: width 1s, height 1s, transform 1s;
}

.icon:focus {
    top: 2%;
    transform: rotate(180deg);
}

.navbar .icon {
    position: absolute;
    left: 5%;
}

.submit {
    font-style: italic;
    width: 5.5%;
    top: 0;
    border-radius: 15px;
    animation: mymove 1s infinite;
    border: 2px solid black;
}

.submit:hover {
    top: 10;
}

input[type=search] {
    width: 80px;
    height: 30px;
    transition: width 2s;
    padding: 0px 10px;
}

input[type=search]:hover {
    width: 300px;
}

@keyframes mymove {
    20% {
        margin-left: 5px;
    }
}

@keyframes move {
    50% {
        color: black;
    }
}

.cart {
    background: green;
    color: white;
    cursor: pointer;
}

.marquee {
    animation: marquee 25s linear infinite;
    font-size: 23px;
    font-weight: 530;
    margin-bottom: 1%;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

#middleName {
    font-weight: 700;
}

.addToCart {
    margin: 10px;
    padding: 7px;
    font-size: 17px;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: grabbing;
}

.itemsList label {
    visibility: hidden;
}

.itemsList .dropdown {
    position: relative;
    height: 12vh;
    width: 5vw;
    float: right;
    transform: translateY(10px);
}

.itemsList .dropdown label {
    cursor: pointer;
}

.itemsList .dropdown input {
    display: none;
}

.itemsList .dropdown .editContent {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.editContent a,
button {
    font-size: 15px;
    border: hidden;
    text-decoration: none;
    padding: 5px;
    font-weight: 700;
}

.itemsList .dropdown .editContent a:hover,
button:hover {
    background-color: wheat;
    color: black;
    border-radius: 0%;
}

.itemsList .dropdown input:checked~.editContent {
    display: contents;
}

.moreIcon {
    position: absolute;
    right: 10%;
    top: 35%;
}